$bg-core-light: #ffffff;
$bg-main-light: #eef5ff;
$bg-core-dark: #26282B;
$bg-main-dark: #191A1C;

$accent-light: #650d83;
$accent-dark: #9d14cc;

$accent-approximate-dark: #f7ccff;
$accent-approximate-light: #5c0073;

$font-main-normal: 18px;
$font-xlarge: 40px;
$font-large: 32px;
$font-small: 16px;

$media-tablet: 768px;

$header-height: 85px;
