$accent: #0c2849;
$accent-secondary: #3f98d3;

$bg-primary: #ffffff;
$bg-primary-dark: #0c2849;
$bg-accent: #ebf8fd;


$font-main-normal: 18px;
$font-xlarge: 40px;
$font-large: 32px;
$font-small: 16px;

$media-tablet: 768px;

$header-height: 85px;
