@use "@/app/common/styles/mixins" as m;

.chat-item {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  height: 100%;

  &:hover {
    background-color: rgba($bg-core-dark, 0.6);
  }
}

.chat-item__avatar {
  width: 40px;
  height: 40px;
  flex: 0 0 40px; // главное: не сжиматься + занять ровно 40px
  border-radius: 50%;
  overflow: hidden;
}

.chat-item__content {
  display: flex;
  flex-direction: column;
  min-width: 0;

}

.chat-item__login {
  @include m.truncate;
}

.chat-item__text {
  @include m.truncate;
}