.basicWrapper {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  padding: 8px;
  box-sizing: border-box;
}

.leftSide {
  grid-column: span 4;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  min-height: 0; // важно для корректного overflow у детей
}

.rightSide {
  grid-column: span 8;
  width: 100%;
  height: 100%;

  min-height: 0; // важно, если внутри тоже будут скроллящиеся блоки
}