.basicWrapper {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  padding: 8px;
  box-sizing: border-box;
}

.leftSide {
  grid-column: span 4;
  width: 100%;
}

.rightSide {
  grid-column: span 8;
  width: 100%;

}
