.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  padding: 0;
  border: none;
  border-radius: 99999px;

  background: transparent;
  color: inherit;

  cursor: pointer;
  user-select: none;

  transition: background-color 300ms ease,
  transform 80ms ease,
  opacity 120ms ease;
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.icon-button:active {
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(1px);
}

.icon-button:disabled,
.icon-button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon-button--round {
  border-radius: 9999px;
}

.icon-button--primary {
  background-color: $accent-light;
  color: #ffffff;
}

.icon-button--primary:hover {
  background-color: $accent-approximate-light;

}

.icon-button--ghost {
  background-color: transparent;
}

.icon-button__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: calc(var(--icon-button-size, 40px) * 0.55);
  height: calc(var(--icon-button-size, 40px) * 0.55);
}

.icon-button__icon > svg {
  width: 100%;
  height: 100%;
  display: block;
}

.icon-button__icon > img {
  width: 100%;
  height: 100%;
  display: block;
}